<div class="row no-gutters">

    <div class="col-xl-6 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Recent updates</span>
                <div class="separator"></div>
            </div>
            <div class="list-content">
                <!--{% for chapter in newchaps %}
                <div>
                    <div class="d-flex flex-nowrap">
                        <img src="{% static '/images/defaultcover.png' %}">
                        <div class="col d-flex flex-column">
                            <a href="/book/{{ chapter.novel.id }}/"><b>{{ chapter.novel.title }}</b></a>
                            <a href="/chapter/{{ chapter.novel.id }}/{{ chapter.number }}/">{{ chapter.title }}</a>
                            {% comment %}<div class="d-flex justify-content-between">
                        </div>{% endcomment %}
                        </div>
                    </div>
                    <div class="separator"></div>
                </div>
                {% endfor %}-->
            </div>
            <div class="d-flex justify-content-center list-button">
                <a class="btn btn-primary btn-block" href="/new/1/">More Updates</a>
            </div>
        </div>
    </div>

    <div class="col-xl-6 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Rising</span>
                <div class="separator"></div>
            </div>
            <div class="list-content">
                <!--{% for book in rising %}
                <div>
                    <div class="d-flex flex-nowrap">
                        <img src="{% static '/images/defaultcover.png' %}">
                        <div class="col d-flex flex-column">
                            <a href="/book/{{ book.id }}/"><b>{{ book.title }}</b></a>
                            <div class="d-flex justify-content-between">
                                <span>Score: {% if book.rating == None %}0{% else %}{{ book.rating }}{% endif %}/100</span>
                                {#                                <span>Nº Followers</span>#}
                            </div>
                            <span class="mt-3 description">{{ book.description }}</span>
                        </div>
                    </div>
                    <div class="separator"></div>
                </div>
                {% endfor %}-->
            </div>
            <div class="d-flex justify-content-center list-button">
                <a class="btn btn-primary btn-block" href="/hot/1/">More Rising</a>
            </div>
        </div>
    </div>

    <div class="col-xl-12 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Top rated</span>
                <div class="separator"></div>
            </div>
            <div class="list-content">
                <!--{% for book in toprated %}
                <div>
                    <div class="d-flex flex-nowrap">
                        <img src="{% static '/images/defaultcover.png' %}">
                        <div class="col d-flex flex-column">
                            <a href="/book/{{ book.id }}/"><b>{{ book.title }}</b></a>
                            <div class="d-flex justify-content-between">
                                <span>Score: {% if book.rating == None %}0{% else %}{{ book.rating }}{% endif %}/100</span>
                                {#                                <span>Nº Followers</span>#}
                            </div>
                            <span class="mt-3 description">{{ book.description }}</span>
                        </div>
                    </div>
                    <div class="separator"></div>
                </div>
                {% endfor %}-->
            </div>
            <div class="d-flex justify-content-center list-button">
                <a class="btn btn-primary btn-block" href="/top/1">More Books</a>
            </div>
        </div>
    </div>
</div>