<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" routerLink="/">TPW Project 2 - Angular Edition</a>
        <div class="navbar navbar-light navbar-expand-md">
            <div class="collapse navbar-collapse" id="navcol-1"></div>
            <span class="actions d-flex">
                <form class="form-inline" ngNoForm action="/search" method="get">
                    <div class="input-group">
                        <label for="search-field"></label>
                        <input class="form-control search-field" type="search" id="search-field" name="title" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <app-userauth></app-userauth>
            </span>
        </div>
    </div>
</nav>
<div class="container" id="content" style="min-height: calc(100vh - 147px)">
    <router-outlet></router-outlet>
</div>
<div class="d-lg-flex justify-content-lg-center align-items-lg-center footer-basic" style="padding: 20px 0;">
    <footer>
        <p class="copyright" style="margin: 0;">TPW Project 2 | Universidade de Aveiro | 2020/21</p>
    </footer>
</div>
