<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="/">TPW Project 1</a>
        <div class="navbar navbar-light navbar-expand-md">
            <div class="collapse navbar-collapse" id="navcol-1"></div>
            <span class="actions d-flex">
                <form class="form-inline" action="/search/1/" method="get">
                    <div class="input-group">
                        <label for="search-field"></label>
                        <input class="form-control search-field" type="search" id="search-field" name="title" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <!--{% if user.is_authenticated %}
                <div class="btn-group">
                  <button type="button" class="btn btn-link dropdown-toggle btn-sm login mt-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }} <i class="fa fa-user"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" type="button" href="/profile/">Profile</a>
                    <div class="dropdown-divider"></div>
                      <form action="/logout/" method="post">
                          {% csrf_token %}
                    <button class="dropdown-item" type="submit">Logout</button>
                          </form>
                  </div>
                </div>
                {% else %}-->
                <a class="login mr-1" href="/login/">Login</a>
            </span>
        </div>
    </div>
</nav>
<div class="container" id="content" style="min-height: calc(100vh - 147px)">
    <router-outlet></router-outlet>
</div>
<div class="d-lg-flex justify-content-lg-center align-items-lg-center footer-basic" style="padding: 20px 0;">
    <footer>
        <p class="copyright" style="margin: 0;">TPW Project 1 | Universidade de Aveiro | 2020/21</p>
    </footer>
</div>