html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #CBCBCB;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #181818;
}

#content {
  flex: 1;
  margin-top: 10px;
}

.separator {
  height: 2px;
  background-color: #2b2b2b;
}

.separator-thin {
  height: 1px;
  background-color: #2b2b2b;
}

.container-custom {
  padding: 10px 15px 10px 15px;
  border: 1px solid #2b2b2b;
  margin: 10px;
  background-color: #131313;
}

.list-button > a {
  width: 150px;
  color: white;
}

.list-error {
  text-align: center;
  color: darkred;
  margin: 20px;
  /*display: none;*/
}

.container-custom-header > span {
  margin-left: 2px;
  font-size: large;
}

.list-content > div {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.list-content > div > div {
  margin-bottom: 10px;
}

.list-content > div > div > img {
  height: 150px;
  width: 120px;
}

.list-content > div > div > img:hover {
  cursor: pointer;
}

.list-content > div > div > .col a:first-of-type {
  font-size: medium;
  color: #CBCBCB;
}

.list-content > div > div > .col > a {
  font-size: small;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-search {
  /*box-shadow: 0 1px grey;
  padding-top: 0px;
  padding-bottom: 1px;*/
  padding: 0;
}

.tpw-header-search {
  flex: 1;
}

.login-clean h3 {
  margin-bottom: 20px;
}

.forgot {
  margin-top: 3px;
  color: dodgerblue;
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
}

.book-big-img {
  width: 180px;
  height: 250px;
}

.book-tag {
  background-color: lightgray;
  padding: 1px 3px 1px 3px;
  margin: 2px;
}

.book-tag-title {
  padding: 1px 0 1px 7px;
  margin: 2px;
}

.chapter-list-content > div > div {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.chapter-list-content > div > div > div {
  margin-bottom: 5px;
}

.review-list-content > div {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.review-list-content > div > div {
  margin-bottom: 20px;
}

.review-form-content {
  margin: 20px 10px;
}

.book-medium-img {
  width: 90px;
  height: 125px;
}

.chapter-book-title > h5 {
  display: inline;
  color: black;
}

.chapter-content-content {
  margin: 20px 10px;
}

.book-content-content {
  margin: 20px 10px;
}

.comment-list-content {
  margin: 30px 10px 20px 10px;
}

.comment-list-content > div {
  margin: 0 15px 25px 15px;
}

.comment-form-content {
  margin: 20px 10px;
}

.comment-children:not(:empty) {
  margin: -25px 0 0 20px;
  padding: 25px 0 0 29px;
  border-left: solid #2b2b2b 4px;
}

.comment-children > div {
  margin-top: 25px;
}

.dropdown-toggle::after {
  display: none;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button {
  background-color: #131313;
  color: #CBCBCB;
  /*box-shadow: 0 1px grey;
  padding-top: 0px;
  padding-bottom: 1px;*/
}

.dropdown-menu {
  background-color: #2e343b;
}

.dropdown-item {
  color: #aaafb7;
}

.dropdown-item:hover {
  background-color: #1d1d1d;
  color: #aaafb7;
}

.dropdown-divider {
  border-top: 1px solid #595a5c;
}

.login {
  color: #477AA2;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 8px;
}

.nav-tabs .nav-link.active {
  background-color: #55616f;
  border-color: #55616f #55616f #2b2b2b;
  color: white;
}

.nav-tabs .nav-link {
  color: #CBCBCB;
}

.nav-tabs .nav-link:hover {
  border-color: #55616f #55616f #2b2b2b;
}

.nav-tabs {
  border-bottom: 0px;
}

.form-control {
  background-color: #222222;
  color: white;
  border: 1px solid black;
}

.form-control:focus {
  background-color: #222222;
  color: white;
  border: 1px solid black;
}

.page-link {
  background-color: #181818;
  color: #CBCBCB;
  border: 1px solid #646464;
}

.page-link:hover {
  color: black;
  background-color: #646464;
  border-color: #646464;
}

.page-item.active .page-link {
  background-color: #5e738b;
  border-color: #646464;
}

.page-item.disabled .page-link {
  background-color: #181818;
  color: #808080;
  border-color: #646464;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

a {
  color: #26709d;
}

.login-clean {
  background-color: #181818;
}

.login-clean form {
  background-color: #131313;
}

.login-clean form .form-control {
  height: 42px;
}

.description {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.list-content .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-header > .d-flex {
  background-color: #2A3642;
  padding: 0 10px 0 10px;
  margin-top: -10px;
  /*border-left: 100vw solid #2A3642;*/
  /*border-right: 100vw solid #2A3642;*/
  /*margin: -10px -100vw 0 -100vw;*/
}

.book-header-separator {
  height: 2px;
  background-color: #2b2b2b;
  /*margin-left: -100vw;*/
  /*margin-right: -100vw;*/
}

.book-header > .description {
  background-color: #131313;
  padding: 20px 50px 0 50px;
  /*border-left: 100vw solid #131313;*/
  /*border-right: 100vw solid #131313;*/
  /*margin: 0 -100vw 0 -100vw;*/
}

.chapter-text {
  white-space: pre-wrap;
}

.book-header a {
  color: #CBCBCB;
}

.navbar {
  padding: .5em 5px;
}

.navbar-brand {
  padding: 0 8px;
}

.comment-list-content button {
  position: relative;
  z-index: 100;
}

/* enable absolute positioning */
.input-inner-icon {
  position: relative;
}

.input-group-append > .btn {
  color: #CBCBCB;
  background-color: #181818;
  border: 1px solid black;
}

.actions > form {
  padding-right: 8px;
  border-right: 1px solid #2b2b2b;
}










/* From Bootstrap Studio */

.footer-basic {
  padding: 40px 0;
  background-color: #131313;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.login-clean {
  /*background: #f1f7fc;*/
  padding: 200px 0;
  height: 1000vh;
  position: sticky;
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  /*background-color: #ffffff;*/
  padding: 40px;
  border-radius: 4px;
  /*color: #505e6c;*/
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  /*color: rgb(244,71,107);*/
}

/*.login-clean form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
}*/

/*.login-clean form .btn-primary {
    !*background: #f4476b;*!
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none !important;
}*/

/* .login-clean form .btn-primary:hover,
.login-clean form .btn-primary:active {
    background: #eb3b60;
} */

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover,
.login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navigation-clean-button {
    padding-top: 1rem;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  /*color: #222;*/
  color: #f0f0f0;
}

.navigation-clean-button.navbar-dark .navbar-brand:hover {
  color: #f0f0f0;
}

.navigation-clean-button .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
  border-color: #555;
}

.navigation-clean-button .navbar-toggler {
  color: #888;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
  color: #eee;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-button.navbar-dark .navbar-collapse,
.navigation-clean-button.navbar-dark .form-inline {
  border-top-color: #333;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  /*color: #37434d;*/
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  /*background: #eee;
  color: inherit;*/
}

@media (max-width: 767px) {
  .navigation-clean-button .navbar-nav .show .dropdown-menu {
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1;
  }
}

.navigation-clean-button.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean-button.navbar-dark .navbar-nav a.active,
.navigation-clean-button.navbar-dark .navbar-nav a.active:focus,
.navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: transparent;
}

.navigation-clean-button.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus,
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus,
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}

@media (max-width: 767px) {
  .navigation-clean-button.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff;
  }
}

.navigation-clean-button .actions .login {
  /*margin-right: 1rem;*/
  text-decoration: none;
  /*color: #465765;*/
}

.navigation-clean-button.navbar-dark .actions .login {
  color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .actions .login:hover {
  color: #fff;
}

.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7;
}

.navigation-clean-button.navbar-dark .action-button,
.navigation-clean-button.navbar-dark .action-button:active {
  background: #208f8f;
}

.navigation-clean-button.navbar-dark .action-button:hover {
  background: #269d9d;
}


.navigation-clean-search {
  background: #fff;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
  background: none;
}

.navigation-clean-search .navbar-toggler {
  color: #888;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover,
.navigation-clean-search .action-button:focus {
  background: #66d7d7;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}
